.mytabs
  %ul
    %li
      %a{:href=>"#tabs-entidad-1"}=@entidad.type
    %li
      %a{:href=>"#tabs-entidad-3"} Pagos

  #tabs-entidad-1.ui-widget.ui-widget-content
    %h3.ui-widget-header
      =@entidad.type

    .action_bar
      -if can? :edit, @entidad
        = link_to 'Editar', edit_entidad_path(@entidad),:remote=>true,:width =>'200px'
    %br

    = render :partial => "entidads/entidad_info"
  #tabs-entidad-3

    =render :partial=>'movimientos/grilla',:locals=>{:@movimientos=>@entidad.pagos}
