.ui-widget
  %h1.ui-widget-header Entidads

  #tabs-entidads.mytabs
    %ul
      %li
        %a{:href=>"#tabs-entidads-1"} Entidad

      -if can? :new,Entidad
        %li
          %a#entidad_new{:href=>"#tabs-entidads-2"} Alta

    #tabs-entidads-2
      #entidad_form
    #tabs-entidads-1
      = render :partial => "search"
      #entidads
        =render 'entidads'

