%p#notice= notice 

.ui-widget
  .action_bar
    -if can? :new, Entidad
      = link_to 'Nuevo', new_entidad_path,:remote =>true
    -if can? :edit, @entidad 
      = link_to 'Editar', edit_entidad_path(@entidad),:remote =>true
    = link_to 'Todos', entidads_path ,:remote =>true
=render 'entidad'
