%h3.ui-widget-header Busqueda
= semantic_form_for @search do |form|
  =form.inputs do
    %table

      %tr
        %td=form.input :name_sw

      %tr
        %td=form.input :tdoc_id_eq

      %tr
        %td=form.input :doc_eq

      %tr
        %td=form.input :nacimiento_eq, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}

      %tr
        %td=form.input :hidden_eq,:as=> :boolean

