.ui-widget
  %h1.ui-widget-header Pasajeros

  #tabs-pasajeros.mytabs
    %ul
      %li
        %a{:href=>"#tabs-pasajeros-1"} Pasajero

      -if can? :new,Pasajero
        %li
          %a#pasajero_new{:href=>"#tabs-pasajeros-2"} Alta

    #tabs-pasajeros-1
      = render :partial => "search"
      #pasajeros
        =render 'pasajeros'
    #tabs-pasajeros-2
      #pasajero_form

