###########################
# logs
**/*/log/*
log/*.log

###########################
# temporales
tmp/

\#*#
###########################
# datos
coverage/*
.bundle
rdoc/*
.yardoc/*
db/*.sqlite3

###########################
# Archivos con contraseñas
database.yml
.ftpquota

###########################
# backups
*.rar
*.zip
*.tar.gz
*.tar
*\(copia\)*
*.bak
webrat.log

