.ui-widget.ui-widget-content
  %h3.ui-widget-header programa  
  .left{:style=>'float:right'}
    .action_bar
      -if can? :edit, @programa 
        = link_to 'Editar', edit_programa_path(@programa),:remote=>true,:width =>'200px'
    %br
  
  
  %p
    %b Name:
    = @programa.name
  %p
    %b Observaciones
    = @programa.obs

  %br
  = render :partial => "layouts/version",:locals=>{:model=>@programa,:controller=>:programas}
