.half.left
  %h3.ui-widget-header Listado
  =will_paginate @programas

  #programas_grid
    %table#migrilla.togrid
      %tr
      
        %th Name
      
      %th Acciones
  
        
      - for programa in @programas   
        %tr
          
          %td= programa.try(:name) 
          
          %td
            = link_to 'Show', programa,:remote=>true 
            -if can? :edit, programa
              = link_to 'Edit', edit_programa_path(programa),:remote=>true  
            -if can? :destroy, programa
              = link_to 'Destroy', programa, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
