.ui-widget.ui-widget-content
  %h3.ui-widget-header programa
  .action_bar
    -if can? :edit, @programa
      = link_to 'Editar', edit_programa_path(@programa),:remote=>true,:width =>'200px'
    %br

  
  %p
    %b Name:
    = @programa.name
  
    = render :partial => "layouts/version",:locals=>{:model=>@programa,:controller=>:programas}

