.ui-widget
  %h1.ui-widget-header Programa
  
  .action_bar
    -if can? :new, Programa
      = link_to 'Nuevo', programas_path,:remote => true 
  #programa.half.right
  
    = render :partial => "edit"
  
  #programas.half.left
