.ui-widget
  %h1.ui-widget-header Programas

  #tabs-programas.mytabs
    %ul
      %li
        %a{:href=>"#tabs-programas-1"} Programa

      -if can? :new,Programa
        %li
          %a#programa_new{:href=>"#tabs-programas-2"} Alta

    #tabs-programas-1
      = render :partial => "search"
      #programas
        =render 'programas'
    #tabs-programas-2
      #programa_form

