.half.left
  %h3.ui-widget-header Listado
  =will_paginate @monedas

  #monedas_grid
    %table#migrilla.togrid
      %tr
      
        %th Name
      
      %th Acciones
  
        
      - for moneda in @monedas   
        %tr
          
          %td= moneda.try(:name) 
          
          %td
            = link_to 'Show', moneda,:remote=>true 
            -if can? :edit, moneda
              = link_to 'Edit', edit_moneda_path(moneda),:remote=>true  
            -if can? :destroy, moneda
              = link_to 'Destroy', moneda, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
