.ui-widget
  %h1.ui-widget-header Monedas
  
  .action_bar
    = link_to 'Nuevo Moneda', new_moneda_path,:remote => true 
    = link_to 'Imprimir', {:search=>params[:search],:format=>'pdf'} 
  #moneda{:style=>'width:49%; float:right'}
  
  = render :partial => "search"
  
  %h3.ui-widget-header Listado
  #monedas
    =render 'monedas'
