%p#notice= notice 

.ui-widget
  .action_bar
    -if can? :new, Moneda
      = link_to 'Nuevo', new_moneda_path,:remote =>true
    -if can? :edit, @moneda 
      = link_to 'Editar', edit_moneda_path(@moneda),:remote =>true
    = link_to 'Todos', monedas_path ,:remote =>true
=render 'moneda'
