%p#notice= notice 

.ui-widget
  .action_bar
    -if can? :new, Pago
      = link_to 'Nuevo', new_pago_path,:remote =>true
    -if can? :edit, @pago 
      = link_to 'Editar', edit_pago_path(@pago),:remote =>true
    = link_to 'Todos', pagos_path ,:remote =>true
=render 'pago'
