%h2 Pasajeros
.pasajeros
  =link_to_function 'Agregar',:class=>'new'
  %table
    %tr
      %th
      %th Documento
      %th Nombre   
      %th Nacimiento    
    -@reserva.pasajeros.each do |pasajero|
      %tr
        %td
          =pasajero.id
        %td
          =pasajero.doc
        %td
          =pasajero.name
        %td
          =pasajero.nacimiento
        %td
          = check_box_tag "reserva[pasajero_ids][]",pasajero.id, @reserva.pasajeros.include?(pasajero)     
         
    -for i in 0..3
      = render :partial => "pasajero_field",:locals=>{:i=>i,:m=>false}
    .new_pasajero_row{:i=>4}
    
