=will_paginate @reservas
#reservas_grid
  =grilla(["ID","Titular","Salida","Hotel","Periodo","Deuda Agencias","Deuda Operadora","Acciones"],@reservas,[:id,:titular,:salida,:hotel,:periodo,:agencia_deuda,:operadora_deuda],{:id=>"reserva_grid",:class=>"togrid"} )

