%h3.ui-widget-header Busqueda
= semantic_form_for @search do |form|

  =form.inputs do
    %table{:style=>'width:800px;'}
      %tr
        %td=form.input :pasajeros_name_contains,:label=>"Pasajero"
        %td=form.input :referencia_sw
      %tr
        %td=form.input :fecha_gt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
        %td=form.input :fecha_lt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
      %tr
        %td=form.input :salida_gt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
        %td=form.input :salida_lt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
      %tr
        %td=form.input :agency_id_eq,:collection => Agency.all
        %td=form.input :operadora_id_eq,:collection => Operadora.all
      %tr
        %td=form.input :created_at_gt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10},:label=>"Creado desde"
        %td=form.input :created_at_lt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10},:label=>"Creado hasta"
      %tr
        %td=form.input :hidden_eq,:as=> :boolean
      %tr
        %td
          = form.buttons do
            = form.commit_button :label=>"Buscar"

