%h3.ui-widget-header Busqueda
= semantic_form_for @search do |form|

  =form.inputs do
    %table{:style=>'width:800px;'}
      %tr
        %td=form.input :pasajeros_name_sw
        %td=form.input :referencia_sw
      %tr
        %td=form.input :hotel_sw
        %td=form.input :regimen_sw
      %tr
        %td=form.input :fecha_gt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
        %td=form.input :fecha_lt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
      %tr
        %td=form.input :salida_gt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
        %td=form.input :salida_lt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
      %tr
        %td=form.input :agency_id_eq,:collection => Agency.all
        %td=form.input :operadora_id_eq,:collection => Operadora.all
      %tr
        %td=form.input :thabitacion_id_eq,:collection => Thabitacion.all
        %td=form.input :programa_id_eq,:collection => Programa.all
      %tr
        %td=form.input :hidden_eq,:as=> :boolean

