.ui-widget
  %h1.ui-widget-header Reserva
  
  .action_bar
    -if can? :new, Reserva
      = link_to 'Nuevo', reservas_path,:remote => true 
  #reserva.half.right
  
    = render :partial => "edit"
  
  #reservas.half.left
