=javascript("jq.reservas")
.ui-widget
  %h1.ui-widget-header Reservas

  #tabs-reservas.mytabs
    %ul
      %li
        %a{:href=>"#tabs-reservas-1"} Reservas
      -if can? :new,Reserva
        %li
          %a#reserva_new{:href=>"#tabs-reservas-2"} Alta

    #tabs-reservas-2
      #reserva_form
    #tabs-reservas-1
      = render :partial => "search"
      #reservas
        =render 'reservas'

