#saldos_grid
  %table.togrid{:id=>"saldo_grid_#{Time.now}"}
    %tr
      %th ID
      %th Monto
      %th Operadora

    -@saldos.each do |saldo|
      %tr
        %td=saldo.id
        %td
          %b=saldo.monto.format
        %td=saldo.try(:operadora).try(:name)

