.ui-widget
  %h1.ui-widget-header Saldos

  #tabs-saldos.mytabs
    %ul
      %li
        %a{:href=>"#tabs-saldos-1"} Saldo

    #tabs-saldos-1
      = render :partial => "saldos/search"
      #entidads
        =render 'saldos'

