%p#notice= notice 

.ui-widget
  .action_bar
    -if can? :new, Tpago
      = link_to 'Nuevo', new_tpago_path,:remote =>true
    -if can? :edit, @tpago 
      = link_to 'Editar', edit_tpago_path(@tpago),:remote =>true
    = link_to 'Todos', tpagos_path ,:remote =>true
=render 'tpago'
