= form_for(@direccion,:remote=>true) do |f| 
  .ui-widget.ui-widget-content
    - if @direccion.errors.any? 
      #error_explanation
        %h2="#{pluralize(@direccion.errors.count, 'error')} prohibited this direccion from being saved:"
  
        %ul
          - @direccion.errors.full_messages.each do |msg| 
            %li= msg 
    
    =render :partial =>'direccions/datos',:locals=>{:direccion=>f}
        
    .actions
      = f.submit 
