.ui-widget
  %h1.ui-widget-header Direccions
  
  .action_bar
    = link_to 'Nuevo Direccion', new_direccion_path,:remote => true 
    = link_to 'Imprimir', {:search=>params[:search],:format=>'pdf'} 
  #direccion{:style=>'width:49%; float:right'}
  
  = render :partial => "search"
  
  %h3.ui-widget-header Listado
  #direccions
    =render 'direccions'
