= fields_for(@agencia,:remote=>true) do |f| 
  - if @agencia.errors.any? 
    #error_explanation
      %h2="#{pluralize(@agencia.errors.count, 'error')} prohibited this agencia from being saved:"

      %ul
        - @agencia.errors.full_messages.each do |msg| 
          %li= msg 
  
  
  =# render :partial => "direccions/field_for"
   
