%p#notice= notice 

.ui-widget
  .action_bar
    = link_to 'Nuevo', new_agencia_path,:remote =>true
    = link_to 'Editar', edit_agencia_path(@agencia),:remote =>true
    = link_to 'Todos', agencias_path ,:remote =>true
=render 'agencia'
