.half.left
  %h3.ui-widget-header Listado
  =will_paginate @tentidads

  #tentidads_grid
    %table#migrilla.togrid
      %tr
      
        %th Name
      
      %th Acciones
  
        
      - for tentidad in @tentidads   
        %tr
          
          %td= tentidad.try(:name) 
          
          %td
            = link_to 'Show', tentidad,:remote=>true 
            -if can? :edit, tentidad
              = link_to 'Edit', edit_tentidad_path(tentidad),:remote=>true  
            -if can? :destroy, tentidad
              = link_to 'Destroy', tentidad, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
