.ui-widget
  %h1.ui-widget-header Tentidad
  
  .action_bar
    -if can? :new, Tentidad
      = link_to 'Nuevo', tentidads_path,:remote => true 
  #tentidad.half.right
  
    = render :partial => "edit"
  
  #tentidads.half.left
