.ui-widget
  %h1.ui-widget-header Tentidads
  
  .action_bar
    -if can? :new, Tentidad
      = link_to 'Nuevo Tentidad', new_tentidad_path,:remote => true 
    = link_to 'Imprimir', {:search=>params[:search],:format=>'pdf'} 
  #tentidad_form.half.right
  
  = render :partial => "search"
  #tentidads
    =render 'tentidads'
