%h3.ui-widget-header Busqueda
= semantic_form_for @search,  :html => {:method => :get,:class => 'search'} do |form|
  =form.inputs do
    %table{:style=>'width:800px;'}
      %tr
        %td=form.input :reserva_referencia_sw,:label=>"Referencia"
        %td=form.input :reserva_id_eq
      %tr
        %td=form.input :fecha_eq, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
        %td=form.input :type_sw,:label=>"Tipo"
      %tr
        %td=form.input :created_at_gt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
        %td=form.input :created_at_lt, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
  = form.buttons do
    = form.commit_button :label=>"Buscar"
