.ui-widget
  %h1.ui-widget-header Deposito
  
  .action_bar
    -if can? :new, Deposito
      = link_to 'Nuevo', depositos_path,:remote => true 
  #deposito.half.right
  
    = render :partial => "edit"
  
  #depositos.half.left
