%p#notice= notice 

.ui-widget
  .action_bar
    -if can? :new, Deposito
      = link_to 'Nuevo', new_deposito_path,:remote =>true
    -if can? :edit, @deposito 
      = link_to 'Editar', edit_deposito_path(@deposito),:remote =>true
    = link_to 'Todos', depositos_path ,:remote =>true
=render 'deposito'
