%h3.ui-widget-header Busqueda
= semantic_form_for @search do |form|
  =form.inputs do
    %table
    <% for attribute in @model_attributes %>
      %tr
        %td=form.input :<%= attribute.name %>_<%if attribute.type == "string" %>contains<% else %>eq<%end%>
      <% end %>
      %tr
        %td=form.input :hidden_eq,:as=> :boolean

