.half.left
  %h3.ui-widget-header Listado
  =will_paginate @<%= plural_name %>

  #<%= plural_name %>_grid
    %table#migrilla.togrid
      %tr
      <% for attribute in @model_attributes %>
        %th <%= attribute.name.capitalize %>
      <% end %>
      %th Acciones
  
        
      - for <%= file_name %> in @<%= plural_name %>   
        %tr
          <% for attribute in @model_attributes %>
          %td= <%= file_name %>.try(:<%= attribute.name %>) 
          <% end %>
          %td
            = link_to 'Show', <%= file_name %>,:remote=>true 
            -if can? :edit, <%= file_name %>
              = link_to 'Edit', edit_<%= file_name %>_path(<%= file_name %>),:remote=>true  
            -if can? :destroy, <%= file_name %>
              = link_to 'Destroy', <%= file_name %>, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
