.ui-widget
  %h3.ui-widget-header <%= file_name %>  
  .left{:style=>'float:right'}
    .action_bar
      = link_to 'Editar', edit_<%= file_name %>_path(@<%= file_name %>),:remote=>true,:width =>'200px'
    %br
  = render :partial => "version"
  
  <% for attribute in @model_attributes %>
  %p
    %b <%= attribute.name.capitalize %>:
    = @<%= file_name %>.<%= attribute.name %>
  <% end %>
