.ui-widget
  %h1.ui-widget-header Pago
  
  .action_bar
    -if can? :new, Movimiento
      = link_to 'Nuevo', pagos_path,:remote => true 
  #pago.half.right
  
    = render :partial => "edit"
  
  #pagos.half.left
