.ui-widget
  %h1.ui-widget-header Movimientos

  .action_bar
    = link_to 'Imprimir', {:search=>params[:search],:format=>'pdf'}

  .mytabs
    %ul
      %li
        %a{:href=>"#tabs-movimientos-1"} Movimientos
      %li
        %a#deposito_new{:href=>"#tabs-movimientos-2"} Deposito
      %li
        %a{:href=>"#tabs-movimientos-3"} Pago
      %li
        %a{:href=>"#tabs-movimientos-4"} Directo
      %li
        %a{:href=>"#tabs-movimientos-5"} Abierto


    #tabs-movimientos-1
      = render :partial => "search"
      #movimientos
        =render 'movimientos'

    #tabs-movimientos-2
      #deposito_form

