.ui-widget
  %h1.ui-widget-header Operadora
  
  .action_bar
    = link_to 'Nuevo', operadoras_path,:remote => true 
  #operadora.half.right
  
    = render :partial => "edit"
  
  #operadoras.half.left
