.ui-widget
  %h1.ui-widget-header Operadoras

  #tabs-entidads.mytabs
    %ul
      %li
        %a{:href=>"#tabs-entidads-1"} Operadoras

      -if can? :new,Operadora
        %li
          %a#operadora_new{:href=>"#tabs-entidads-2"} Alta

    #tabs-entidads-2
      #entidad_form
    #tabs-entidads-1
      = render :partial => "entidads/search"
      #entidads
        =render 'entidads/entidads'

