.ui-widget
  %h1.ui-widget-header Operadoras
  
  .action_bar
    = link_to 'Nuevo Operadora', new_operadora_path,:remote => true 
    = link_to 'Imprimir', {:search=>params[:search],:format=>'pdf'} 
  #operadora.half.right
  
  #operadoras
    =render 'operadoras'
