%p#notice= notice 

.ui-widget
  .action_bar
    -if can? :new, Operadora
      = link_to 'Nuevo', new_operadora_path,:remote =>true
    -if can? :edit, @operadora 
      = link_to 'Editar', edit_operadora_path(@operadora),:remote =>true
    = link_to 'Todos', operadoras_path ,:remote =>true
=render 'operadora'
