/*
 *= require_self
 *= require 'formtastic'
 *= require 'layout'
 *= require 'menu'
 *= require 'money'
 *= require 'scaffold'
 *= require jqGrid/ui.jqgrid
 *= require 'redmond/jquery-ui-1.8.18.custom'
*/

