.action_bar{
  padding-top:4px;
  padding-bottom:4px;
  /*float:right;*/
}
.version{
  font-size:0.7em;
}
.mybutton{
  font-size:0.8em !important;
}
.red{color:red;}
.green{color:green;}

.hide{ display: none !important;}
.left{float:left}
.right{float:right}
.half{width:49%}
.wide{width:100%}

.ui-layout-north{
  height: 40px;
}
#content{
  padding:10px;
  background-color: #f0f0f0;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  min-width: 400px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

