.ui-widget
  %h1.ui-widget-header Tdoc
  
  .action_bar
    -if can? :new, Tdoc
      = link_to 'Nuevo', tdocs_path,:remote => true 
  #tdoc.half.right
  
    = render :partial => "edit"
  
  #tdocs.half.left
