%h3.ui-widget-header Busqueda
= semantic_form_for @search,:url=>{:controller=>"vouchers"} do |form|

  =form.inputs do
    %table{:style=>'width:800px;'}
      %tr
        %td
          %input{:type=>"checkbox",:name=>"sin_voucher"} Sin voucher
      %tr
        %td=form.input :agency_id_eq,:collection => Agency.all
        %td=form.input :operadora_id_eq,:collection => Operadora.all
    %br
    =form.buttons

