.half.left
  %h3.ui-widget-header Listado
  =will_paginate @thabitacions

  #thabitacions_grid
    %table#migrilla.togrid
      %tr
      
        %th Name
      
      %th Acciones
  
        
      - for thabitacion in @thabitacions   
        %tr
          
          %td= thabitacion.try(:name) 
          
          %td
            = link_to 'Show', thabitacion,:remote=>true 
            -if can? :edit, thabitacion
              = link_to 'Edit', edit_thabitacion_path(thabitacion),:remote=>true  
            -if can? :destroy, thabitacion
              = link_to 'Destroy', thabitacion, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
