.ui-widget
  %h3.ui-widget-header thabitacion  
  .left{:style=>'float:right'}
    .action_bar
      = link_to 'Editar', edit_thabitacion_path(@thabitacion),:remote=>true,:width =>'200px'
    %br
  = render :partial => "version"
  
  
  %p
    %b Name:
    = @thabitacion.name
  
