.ui-widget
  %h1.ui-widget-header Thabitacion
  
  .action_bar
    = link_to 'Nuevo', thabitacions_path,:remote => true 
  #thabitacion.half.right
  
    = render :partial => "edit"
  
  #thabitacions.half.left
