.ui-widget
  %h1.ui-widget-header Thabitacions

  #tabs-thabitacions.mytabs
    %ul
      %li
        %a{:href=>"#tabs-thabitacions-1"} Thabitacion

      -if can? :new,Thabitacion
        %li
          %a#thabitacion_new{:href=>"#tabs-thabitacions-2"} Alta

    #tabs-thabitacions-1
      = render :partial => "search"
      #thabitacions
        =render 'thabitacions'
    #tabs-thabitacions-2
      #thabitacion_form

