%p#notice= notice 

.ui-widget
  .action_bar
    -if can? :new, Thabitacion
      = link_to 'Nuevo', new_thabitacion_path,:remote =>true
    -if can? :edit, @thabitacion 
      = link_to 'Editar', edit_thabitacion_path(@thabitacion),:remote =>true
    = link_to 'Todos', thabitacions_path ,:remote =>true
=render 'thabitacion'
